html {
  font-family: sans-serif;
}

#topNav {
  li {
	font-weight: bold;
	.active {
	  font-weight: normal;
	}
  }
}

#leftNav {
  float: left;
  list-style: none;
  margin-right: 15px;
  padding: 0 0 0 10px;

  li {
	font-size: 0.9em;
	padding: 3px 0;
  }
}

#content {
  float: left;

  section {
	display: none;
	max-width: 750px;
  }
  p {
	padding: 5px 0;
  }
  ul, ol {
	padding: 10px 0;
	li {
	  margin: 0 0 0 17px;
	  padding: 3px 0;
	  li:first-child {
		padding-top: 0;
	  }
	}
  }
  ul li {
	list-style: disc;
  }
  ol li {
	list-style: decimal;
  }
  p, li {
	font-size: 0.8rem;
	line-height: 1.1rem;
  }
  p {
	margin: 0 0 5px;
  }
  h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	& + ul, & + ol {
	  padding-top: 0;
	}
  }
  h1 {
	font-size: 1.0em;
	padding: 7px 0;
  }
  h3 {
	font-size: 0.9em;
	padding: 3px 0;
  }
  h4 {
	font-size: 0.85em;
	padding: 3px 0;
  }

}