<html>
  <head>
    <title>AWS Exam Tips</title>
    <script src="//code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/js/nav.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  </head>
  <body data-certification="{{certification}}">
  {{{body}}}
  </body>
</html>