{{> page/nav}}
<ul id="leftNav">
  <li id="tip-link-general"><a href="#tips-general" data-tip-name="general">General Tips</a></li>
  <li id="tip-link-iam"><a href="#tips-iam" data-tip-name="iam">Identity Access Management (IAM)</a></li>
  <li id="tip-link-s3"><a href="#tips-s3" data-tip-name="s3">Simple Storage Service (S3)</a></li>
  <li id="tip-link-sqs"><a href="#tips-sqs" data-tip-name="sqs">Simple Query Service (SQS)</a></li>
  <li id="tip-link-sns"><a href="#tips-sns" data-tip-name="sns">Simple Notification Service (SNS)</a></li>
  <li id="tip-link-swf"><a href="#tips-swf" data-tip-name="swf">Simple Workflow (SWF)</a></li>
  <li id="tip-link-dynamo"><a href="#tips-dynamo" data-tip-name="dynamo">DynamoDB</a></li>
  <li id="tip-link-vpc"><a href="#tips-vpc" data-tip-name="vpc">Virtual Private Cloud (VPC)</a></li>
  <li id="tip-link-eb"><a href="#tips-eb" data-tip-name="eb">Elastic Beanstalk</a></li>
  <li id="tip-link-sdk"><a href="#tips-sdk" data-tip-name="sdk">SDKs</a></li>
  <li id="tip-link-ebs"><a href="#tips-ebs" data-tip-name="ebs">EBS, EC2 and ELB</a></li>
</ul>
<div id="content">
  <h1>{{title}}</h1>
  <section id="tips-general"></section>
  <section id="tips-iam"></section>
  <section id="tips-s3"></section>
  <section id="tips-sqs"></section>
  <section id="tips-sns"></section>
  <section id="tips-swf"></section>
  <section id="tips-dynamo"></section>
  <section id="tips-vpc"></section>
  <section id="tips-eb"></section>
  <section id="tips-sdk"></section>
  <section id="tips-ebs"></section>
</div>