{{> page/nav}}
<ul id="leftNav">
  <li id="tip-link-ami"><a href="#tips-ami" data-tip-name="ami">Amazon Machine Images</a></li>
  <li id="tip-link-apigateway"><a href="#tips-apigateway" data-tip-name="apigateway">API Gateway</a></li>
  <li id="tip-link-aurora"><a href="#tips-aurora" data-tip-name="aurora">Aurora</a></li>
  <li id="tip-link-cloudwatch"><a href="#tips-cloudwatch" data-tip-name="cloudwatch">CloudWatch</a></li>
  <li id="tip-link-databases"><a href="#tips-databases" data-tip-name="databases">Databases</a></li>
  <li id="tip-link-dynamo"><a href="#tips-dynamo" data-tip-name="dynamo">DynamoDb</a></li>
  <li id="tip-link-ec2"><a href="#tips-ec2" data-tip-name="ec2">Elastic Compute Cloud</a></li>
  <li id="tip-link-elastic-file-system"><a href="#tips-elastic-file-system" data-tip-name="elastic-file-system">Elastic File System</a></li>
  <li id="tip-link-elastic-load-balancers"><a href="#tips-elastic-load-balancers" data-tip-name="elastic-load-balancers">Elastic Load Balancers</a></li>
  <li id="tip-link-elastic-map-reduce"><a href="#tips-elastic-map-reduce" data-tip-name="elastic-map-reduce">Elastic Map Reduce</a></li>
  <li id="tip-link-elasticache"><a href="#tips-elasticache" data-tip-name="elasticache">Elasticache</a></li>
  <li id="tip-link-exam-tips"><a href="#tips-exam-tips" data-tip-name="exam-tips">Exam tips</a></li>
  <li id="tip-link-iam"><a href="#tips-iam" data-tip-name="iam">Identity Access and Management</a></li>
  <li id="tip-link-kinesis"><a href="#tips-kinesis" data-tip-name="kinesis">Kinesis</a></li>
  <li id="tip-link-lambda"><a href="#tips-lambda" data-tip-name="lambda">Lambda</a></li>
  <li id="tip-link-placement-groups"><a href="#tips-placement-groups" data-tip-name="placement-groups">Placement Groups</a></li>
  <li id="tip-link-raid"><a href="#tips-raid" data-tip-name="raid">RAID</a></li>
  <li id="tip-link-rds"><a href="#tips-rds" data-tip-name="rds">Relational Data Services</a></li>
  <li id="tip-link-route53"><a href="#tips-route53" data-tip-name="route53">Route53</a></li>
  <li id="tip-link-security"><a href="#tips-security" data-tip-name="security">Security</a></li>
  <li id="tip-link-security-groups"><a href="#tips-security-groups" data-tip-name="security-groups">Security Groups</a></li>
  <li id="tip-link-shared-responsibility"><a href="#tips-shared-responsibility" data-tip-name="shared-responsibility">Shared Responsibility</a></li>
  <li id="tip-link-s3"><a href="#tips-s3" data-tip-name="s3">Simple Storage Service</a></li>
  <li id="tip-link-snowball"><a href="#tips-snowball" data-tip-name="snowball">Snowball</a></li>
  <li id="tip-link-sns"><a href="#tips-sns" data-tip-name="sns">Simple Notification Service</a></li>
  <li id="tip-link-sqs"><a href="#tips-sqs" data-tip-name="sqs">Simple Queue Service</a></li>
  <li id="tip-link-storage-gateway"><a href="#tips-storage-gateway" data-tip-name="storage-gateway">Storage Gateway</a></li>
  <li id="tip-link-swf"><a href="#tips-swf" data-tip-name="swf">Simple Workflow Service</a></li>
  <li id="tip-link-volumes_snapshots"><a href="#tips-volumes_snapshots" data-tip-name="volumes_snapshots">Volume Snapshots</a></li>
  <li id="tip-link-vpc"><a href="#tips-vpc" data-tip-name="vpc">Virtual Private Cloud</a></li>
</ul>
<div id="content">
  <h1>{{title}}</h1>
  <section id="tips-ami"></section>
  <section id="tips-apigateway"></section>
  <section id="tips-aurora"></section>
  <section id="tips-cloudwatch"></section>
  <section id="tips-databases"></section>
  <section id="tips-dynamo"></section>
  <section id="tips-ec2"></section>
  <section id="tips-elastic-file-system"></section>
  <section id="tips-elastic-load-balancers"></section>
  <section id="tips-elastic-map-reduce"></section>
  <section id="tips-elasticache"></section>
  <section id="tips-exam-tips"></section>
  <section id="tips-iam"></section>
  <section id="tips-kinesis"></section>
  <section id="tips-lambda"></section>
  <section id="tips-placement-groups"></section>
  <section id="tips-raid"></section>
  <section id="tips-rds"></section>
  <section id="tips-route53"></section>
  <section id="tips-s3"></section>
  <section id="tips-security"></section>
  <section id="tips-security-groups"></section>
  <section id="tips-shared-responsibility"></section>
  <section id="tips-snowball"></section>
  <section id="tips-sns"></section>
  <section id="tips-sqs"></section>
  <section id="tips-storage-gateway"></section>
  <section id="tips-swf"></section>
  <section id="tips-volumes_snapshots"></section>
  <section id="tips-vpc"></section>
</div>