{{> page/nav}}
<ul id="leftNav">
  <li id="tip-link-s3"><a href="#tips-s3" data-tip-name="s3">Simple Storage Service (S3)</a></li>
  <li id="tip-link-storage-gateway"><a href="#tips-storage-gateway" data-tip-name="storage-gateway">Storage Gateway</a></li>
</ul>
<div id="content">
  <h1>{{title}}</h1>
  <section id="tips-s3"></section>
  <section id="tips-storage-gateway"></section>
</div>