{{> page/nav}}
<ul id="leftNav">
  <li id="tip-link-cloudwatch"><a href="#tips-cloudwatch" data-tip-name="cloudwatch">CloudWatch</a></li>
  <li id="tip-link-ebs"><a href="#tips-ebs" data-tip-name="ebs">Elastic Block Storage (EBS)</a></li>
  <li id="tip-link-rds"><a href="#tips-rds" data-tip-name="rds">RDS Monitoring</a></li>
</ul>
<div id="content">
  <h1>{{title}}</h1>
  <section id="tips-cloudwatch"></section>
  <section id="tips-ebs"></section>
  <section id="tips-rds"></section>
</div>