{{> page/nav}}
<ul id="leftNav">
    <li id="tip-link-cloudwatch"><a href="#tips-cloudwatch" data-tip-name="ami">CloudWatch</a></li>
</ul>
<div id="content">
    <h1>{{title}}</h1>
    <section id="tips-cloudwatch"></section>
</div>