{{> page/nav}}
<ul id="leftNav">
  <li id="tip-link-cloudwatch"><a href="#tips-cloudwatch" data-tip-name="cloudwatch">CloudWatch</a></li>
  <li id="tip-link-ebs"><a href="#tips-ebs" data-tip-name="ebs">Elastic Block Storage (EBS)</a></li>
  <li id="tip-link-rds"><a href="#tips-rds" data-tip-name="rds">RDS Monitoring</a></li>
  <li id="tip-link-elb"><a href="#tips-elb" data-tip-name="elb">ELB Monitoring</a></li>
  <li id="tip-link-elasticache"><a href="#tips-elasticache" data-tip-name="elasticache">Elasticache</a></li>
  <li id="tip-link-vpc"><a href="#tips-vpc"></a></li>
  <li id="tip-link-route53"><a href="#tips-route53"></a></li>
  <li id="tip-link-billing"><a href="#tips-billing"></a></li>
  <li id="tip-link-high-availability"><a href="#tips-high-availability"></a></li>
  <li id="tip-link-deployment"><a href="#tips-deployment"></a></li>
  <li id="tip-link-data-management"><a href="#tips-data-management"></a></li>
  <li id="tip-link-opsworks"><a href="#tips-opsworks"></a></li>
  <li id="tip-link-security"><a href="#tips-security"></a></li>
  <li id="tip-link-centralized-monitoring"><a href="#tips-centralized-monitoring">Centralized Monitoring</a></li>
  <li id="tip-link-ec2"><a href="#tips-ec2">EC2</a></li>
  <li id="tip-link-direct-connect"><a href="#tips-direct-connect">Direct Connect</a></li>
  <li id="tip-link-exam-tips"><a href="#tips-exam-tips">Exam Tips</a></li>
</ul>
<div id="content">
  <h1>{{title}}</h1>
  <section id="tips-cloudwatch"></section>
  <section id="tips-ebs"></section>
  <section id="tips-rds"></section>
  <section id="tips-elb"></section>
  <section id="tips-elasticache"></section>
  <section id="tips-vpc"></section>
  <section id="tips-route53"></section>
  <section id="tips-billing"></section>
  <section id="tips-high-availability"></section>
  <section id="tips-deployment"></section>
  <section id="tips-data-management"></section>
  <section id="tips-opsworks"></section>
  <section id="tips-security"></section>
  <section id="tips-centralized-monitoring"></section>
  <section id="tips-ec2"></section>
  <section id="tips-direct-connect"></section>
  <section id="tips-exam-tips"></section>
</div>