<ul id="topNav">
  <li class="{{homeLinkClass}}"><a href="/">Home</a></li>
  <li class="{{devLinkClass}}"><a href="/developer-associate">Dev - Associate</a></li>
  <li class="{{saLinkClass}}"><a href="/solutions-architect-associate">SA - Associate</a></li>
  <li class="{{sysOpsLinkClass}}"><a href="/sysops-admin-associate">SysOps - Associate</a></li>
</ul>